.form_control {
    display: flex;
    margin-bottom: 1em;
}

.form_control h3 {
    font-size: .7em;
    font-weight: 400;
}

.form_control input {
    transform: scale(1.3);
    outline: none;
    border: none;
    border-radius: 3px;
    margin-right: 3px;
    margin-left: 3px;
}

.form_control input::placeholder{
    color: #000;
}

.form_control input:disabled {
    cursor: no-drop;
}

.column {
    flex-direction: column;
    align-items: start;
}

.justify {
    justify-content: center;
}

.bold label {
    font-weight: 500;
}

.label_left,
.label_right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.label_left {
    font-size: .8em;
    font-weight: 600;
}

.label_right {
    font-size: .8em;
    font-weight: 400;
}