@media(max-width: 740px) {
    .responsive {
        flex-wrap: wrap;
    }

    .responsive label {
        margin-bottom: 1em;
    }
}

.form_control {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.form_control label {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: .8em;
    font-weight: 600;
    margin-right: 5px;
}

.form_control input {
    width: 100%;
    height: 22px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(110, 110, 110);
}

.form_control input::placeholder{
    color: #000;
    font-size: .9em;
}

.form_control input:disabled {
    cursor: no-drop;
}

.column {
    flex-direction: column;
    align-items: start;
}

.marginBottom_zero {
    margin-bottom: 0;
}

.light label {
    font-weight: 400;
}

.flex_1 input {
    flex: 1;
}

.border_none {
    border: none;
}

.title {
    font-size: .8em;
    font-weight: 400;
    margin-right: 5px;
}

.padding_login input {
    padding: .1em 0;
}