.table_container {
    width: 100%;
}

.table_container h3 {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: .5em;
}

.table_container table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

.table_container .table {
    display: flex;
    justify-content: center;
}

.table_container .table th {
    font-size: 1em;
    font-weight: 500;
}

.table_container .table tr {
    font-size: 1em;
    font-weight: 300;
}

.table_container th, td {
    border: 1px solid black;
    text-align: center;
    padding: .5em;
}

