.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    background-color: #483768;
    border-radius: 10px;
    font-size: .9em;
    width: 300px;
}

form {
    width: 100%;
}

@media(max-width: 350px) {
    .container {
        width: 250px;
    }
}

@media(max-width: 300px) {
    .container {
        width: 230px;
    }
}


