.screening {
    padding: 1em;
    width: 100%;
    background-color: #dcdcdc;
    height: 100%;
}

.headersBtn {
    display: flex;
    justify-self: right;
    column-gap: 1em;
    padding: .5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.queue_container {
    border: 1px solid rgb(173, 173, 173);
    border-bottom: none;
    border-radius: 5px;
    background-color: white;
}

.btns {
    margin-bottom: 1em;
}

.btns button {
    padding: .2em;
}

.header {
    padding: .8em;
    display: grid;
    grid-template-columns: 1fr repeat(6, 3fr);
    border-bottom: 1px solid rgb(189, 189, 189);
}

.header h3 {
    font-size: .8em;
}